    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid offset2">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ site.url }}/">Manager Hacking Handbook</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{ site.url }}/">Overview</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chapters <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ site.url }}/why.html">Why are you here?</a></li>
                  <li><a href="{{ site.url }}/one-on-ones.html">Demystifying 1:1s</a></li>
                  <li><a href="{{ site.url }}/mentorship.html">Mentorship</a></li> 
                </ul>
              </li>
              <li><a href="{{ site.url }}/about.html">About</a></li>
            </ul>
           </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>